<html>
    <head>
        <title>Succesfully verified!</title>
        <link rel="stylesheet" href="./static/style.css">
    </head>
    <body>
        <div class="middle">
            <h1>Succesfully verified!</h1>
        </div>
    </body>
</html>